* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 70vw;
  margin: auto;
}

.clear-fix {
  display: table;
  content: "";
  clear: both;
}

.main-cont {
  width: 100%;

}

.mt-20 {
  margin-top: 20px;
}

.blue {
  background-color: #0d325a;
  color: white;
}

.grey {
  background-color: #f9f9f9
}

.nav-left {
  float: left;
  font-weight: bold;
}

.nav-right {
  float: right;
}

header {
  height: 60vh;
  position: relative;
}

.head-corp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo , .titolo , .text {
  float: left;
  text-align: center;
  width: 33.3333%
}

.titolo {
  color: #7fb802;
}

p {
  color: #b2b2b2;
}

.logo img {
  width: 150px;
}

.left , .right {
  float: left;
  width: 50%;
}

.right {
  height: 397.97px;
}
