* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.blue {
  background-color: #0d325a;
  color: white;
}

.navbar {
  display: inline-block;
  text-align: center;
  height: 10vh;
  line-height: 10vh;
  width: 100%;
}

.nav-left , .nav-cent , .nav.right , .logo , .titolo , .text {
  float: left;
  height: 100%;
  width: 33.3333%;
}

.navbar * span {
  margin: 5px;
}

.grey {
  background-color: #f9f9f9
}

header {
  height: 60vh;
  position: relative;
}

.head-corp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

p {
  color: #b2b2b2;
}

.clear-fix {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 70vw;
  margin: auto;
}

.main-cont {
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

.logo , .titolo , .text {
  text-align: center;
}

.titolo {
  color: #7fb802;
}

.logo > img {
  width: 150px;
  height: 150px;
}

.left , .right {
  float: left;
  width: 40%;
  margin: 5%;
}

.right {
  height: 263.16px;
  position: relative;
}

.right-rel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left > img {
  width: 300px;
  height: 300px;
}
